{% extends 'base.html' %}
{% load static %}
{% block content %}
    <header>
            <h2>Список усіх лікарів</h2>
    </header>

        <p>
            {% for doctor in doctors %}
                <p>
                    {% if doctor.pic %}
                        Фото: <img src="{{ doctor.pic.url }}" width=120 class="rounded" alt="{{ doctor.pic }}">
                    {% endif %}
                    <br>
                    {{ doctor.first_name }} {{ doctor.last_name }}
                    <br>
                    Cпеціальність: {{ doctor.speciality }}
                    <br>
                    Установa: {{ doctor.institution }}
                </p>
            {% endfor %}
        </p>
        <br>
{% endblock %}