{% extends 'base.html' %}
{% load static %}
{% block content %}
    <header>
        <h2>{{ patient.user.first_name }} {{ patient.user.last_name }}</h2>
        <h2>Дата народження: {{ patient.birth_date|date:"d/m/Y" }}</h2>
        <h2>Зріст: {{ patient.height }}</h2>
        <h2>Вага: {{ patient.weight }}</h2>
    </header>
        <a href="{% url 'patient_notes' request.user.id %}" class="btn btn-outline-primary">Мої Записи</a>
        <a href="#" class="btn btn-outline-primary">Мої Рецепти</a>
{% endblock %}