{% extends 'base.html' %}
{% load static %}
{% block content %}
    <header>
        <h2>Мої Записи</h2>
    </header>
    {% for note in notes %}
        <p>
            <b>Скарги</b>: {{ note.complaint }}
            <br>
            <b>Діагноз</b>: {{ note.diagnosis }}
            <br>
            <b>Лікування</b>: {{ note.treatment }}
            <br>
            <b>Лікар</b>: {{ note.doctor }}
            <br>
            {% if request.user.id == note.user.id %}
                <a href="{% url 'note_download' note.id %}" class="btn btn-outline-success">Завантажити</a>
                <a href="{% url 'note_edit' note.id %}" class="btn btn-outline-warning">Редагувати</a>
                <a href="{% url 'note_delete' note.id %}" class="btn btn-outline-danger">Видалити</a>
            {% endif %}
        </p>
    {% endfor %}
{% endblock %}